.featuresSection {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.featuresSection h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
}

.cardDisplay {
  max-width: 1200px;
  margin: 0 auto;
}

.featuresSlider {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  flex: 0 1 25%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ccc;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.feature:hover {
  background-color: #eaeaea;
  transform: translateY(-5px);
}

.feature.active {
  border-top: 4px solid #3d1edd;
  background-color: #f0f0ff;
}

.feature h3 {
  font-size: 20px;
  color: #080305;
  margin-bottom: 10px;
  text-align: center;
}

.feature p {
  font-size: 16px;
  color: #666;
  text-align: center;
}